@import '../../ui';

.signUp {
  padding: 30px 0 20px 0;
  background: #333;
  color: #fff;

  .container {
    .primaryText {
      color: $main-color;
    }

    form {
      padding: 20px 40px;
    }

    .message {
      width: 40%;
      margin: auto;
      margin-bottom: 10px;
    }

    .select {
      width: 40%;
      height: 37px;
      margin-bottom: 10px;
    }

    form input {
      width: 40%;
      height: 37px;
      margin-bottom: 10px;
    }

    form label {
      display: block;
      margin-bottom: 10px;
    }

    form button{
      width: 40%;
      padding: 10px 0;
      border: 0;
      margin-top: 10px;
      background: $main-color;
      color: #fff;
    }

    form button:disabled {
      background-color: darken($main-color, 20%);
      color: gray;
    }

    .hidden {
      display: none;
    }
  }
}

@media(max-width:800px){
  .signUp {
    .container {
      form input {
        width: 80%;
      }

      .select {
        width: 80%;
      }

      form button {
        width: 80%;
      }
    }
  }
}
