.profile {
  display: flex;
  justify-content: center;
  height: 670px;

  .licence {
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  .unsub {
    width: 100% !important;
  }

  .textCenter {
    text-align: center !important;
    font-weight: bold !important;
    font-size: 30px;
  }

  .card {
    margin: 0;
    width: 450px !important;
  }

  .cardHeader {
    font-weight: bold;
    font-size:20px
  }

  .cardContent {
    height: 100px !important;
    padding-top: 20px;
    text-align: center;
  }
}

@media(max-width:450px){
  .profile {
    flex-direction: column;
    align-items: center;
    .card {
      width: 100% !important;
    }

    .name {
      height: 50px;
    }
  }
}
