@import '../../ui';

.container {
  margin:auto;

  h2 {
    font-size: 35px;
    margin: 0;
    padding-bottom: 30px;
  }

  p {
    color: #888;
    margin: 0 15px 15px 15px;
  }

  .fa {
    font-size: 60px;
    color: $main-color;
  }
}