@import '../../ui';

.footer {
  background: $main-color;
  color: #fff;

  .row {
    height: 50px;

    .col {
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        margin: 0;
      }
    }
  }
}