.helpCard {
  width: 40%;
  margin: auto;
  padding: 10px;

  .question {
    display: flex;
    justify-content: space-between;
    margin: 5px 5px 15px 5px;

    button {
      border: none;
    }
  }

  .answer {
    margin: 15px 5px 5px 5px;
  }

  .hidden {
    display: none;
  }
}

@media(max-width:1025px){
  .helpCard {
    width: 80%;
  }
}
